<section class="cover">

    <div class="jumbotron jumbotron-fluid m-0 aligner">
      <div class="cover-layer">
        <div class="container aligner-item">        
          <div class="row flex-items-xs-middle">
            <div class="col-xs">
              <div class="row flex-items-xs-middle">
                <div class="col-md">
                  <div class="hidden-sm-down">
                    <h1 class="display-3 align-middle">
                      Lotsa Motsa Pizza
                      <span class="align-middle float-md-right">
                        <button class="btn btn-lg btn-success">View Menu</button>
                        <button class="btn btn-lg btn-danger">Get In Touch</button> 
                      </span> 
                    </h1>
                  </div>
                  
                  <div class="hidden-md-up text-xs-center">
                    <h1 class="display-4">Lotsa Motsa</h1>
                    <button class="btn btn btn-success">View Menu</button>
                    <button class="btn btn btn-danger">Get In Touch</button> 
                  </div>                                   
                </div>                                 
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>

</section>