<section class="hiring py-3 bg-dark">
  <div class="container p-1 py-3">
    <div class="row flex-items-xs-middle">
      <div class="col-md">
        <h2 class="text-xs-center mb-1">Join the Lotsa Motsa Crew</h2>
        <p class="text-xs-center">Lotsa Motsa offers a unique opportunity to gain skills, earn money, and work in a flexible, fun enviorment.</p>
      </div>
      <div class="col-md">
        <br class="hidden-md-up">
        <h3 class="text-xs-center">Open Positions</h3>

        <div class="position">
          <p class="">Delivery Driver - Must be atleast 18 years old, and have access to a vehicle.</p>
          <h5>Locations: Richfield, Salina</h5>
        </div>

        <div class="position">
          <p class="">Day Time - Be available to work day shifts.</p>
          <h5>Locations: Richfield</h5>
        </div>

        <div class="position">
          <p class="">Delivery Driver - Must be atleast 18 years old, and have access to a vehicle.</p>
          <h5>Locations: Salina</h5>
        </div>

        <p class="mt-1">For more information please call the store front.</p>           

      </div>
    </div>
  </div>
</section>