<footer class="navbar-dark bg-inverse pt-1 pb-2">
  <div class="container">
    <nav class="navbar navbar-dark bg-inverse px-0">
      <ul class="navbar-nav float-xs-right m-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Specials</a>
        </li>    
        <li class="nav-item active">
          <a class="nav-link" href="#">Locations<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </nav> 
  </div>      
</footer>