<header>
  <nav class="navbar navbar-light bg-faded">
    <div class="container">
      <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navCollapse" aria-controls="navCollapse" aria-expanded="false" aria-label="Toggle navigation"></button>

      <div class="collapse navbar-toggleable-md" id="navCollapse">
        <a class="navbar-brand text-xs-center text-lg-left" href="/">LotsaMotsa</a>
        <ul class="nav navbar-nav float-lg-right">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#locations">Locations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Specials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/menu">Menu</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
