<section class="locations py-3 my-1">
  <div class="container py-3 px-1">
    <div class="row flex-items-xs-middle">

      <div class="col-xs-12 col-md-3">            
        <h2 class="display-4 text-xs-center text-md-right">Richfield</h2>
      </div>

      <div class="col-xs-12 col-md-3">

        <div class="row hidden-md-up flex-items-xs-middle">
          <div class="col-xs-3">
            <h5 class="text-uppercase text-xs-right">open</h5>
          </div>
          <div class="col-xs">
            <address class="text-xs-right text-md-left">
              <br>
            <!--  <strong>Lotsa Motsa Pizza Parlor</strong> <br> -->
              <a href="http://maps.google.com/?q=Lotsa+Motsa+Pizza+20+E+1050+S+Richfield+UT+84701"> 
                20 E 1050 S, <br> 
                Richfield, UT 84701. 
              </a>
              <br> 
              <abbr title="Phone" class="pt-1">P:</abbr>
              <a href="tel:1-435-896-5838">(435) 896-5838</a> 
            </address>
          </div>
        </div> 

        <address class="hidden-sm-down text-xs-right text-md-left">
          <br>
        <!--  <strong>Lotsa Motsa Pizza Parlor</strong> <br> -->
          <a href="http://maps.google.com/?q=Lotsa+Motsa+Pizza+20+E+1050+S+Richfield+UT+84701"> 
            20 E 1050 S, <br> 
            Richfield, UT 84701. 
          </a>
          <br> 
          <abbr title="Phone" class="pt-1">P:</abbr>
          <a href="tel:1-435-896-5838">(435) 896-5838</a> 
        </address>

      </div>



      <div class="col-xs-12 col-md-3"> 
        <hr class="hidden-sm-up my-2 mx-1">           
        <h2 class="display-4 text-xs-center text-md-right">Salina</h2>
      </div>

      <div class="col-xs-12 col-md-3">

        <div class="row hidden-md-up flex-items-xs-middle">
          <div class="col-xs-3">
            <h5 class="text-uppercase text-xs-right">open</h5>
          </div>
          <div class="col-xs">
            <address class="text-xs-right text-md-left">
              <br>
            <!--  <strong>Lotsa Motsa Pizza Parlor</strong> <br> -->
              <a href="http://maps.google.com/?q=Lotsa+Motsa+Pizza+255+S+State+St+Salina+UT+84654">
                255 S State St, <br> 
                Salina, UT 84654.
              </a>
              <br> 
              <abbr title="Phone" class="pt-1">P:</abbr> 
              <a href="tel:1-435-529-4241">(435) 529-4241</a> 
            </address>
          </div>
        </div> 

        <address class="hidden-sm-down text-xs-right text-md-left">
          <br>
        <!--  <strong>Lotsa Motsa Pizza Parlor</strong> <br> -->
          <a href="http://maps.google.com/?q=Lotsa+Motsa+Pizza+255+S+State+St+Salina+UT+84654">
            255 S State St, <br> 
            Salina, UT 84654.
          </a>
          <br> 
          <abbr title="Phone" class="pt-1">P:</abbr> 
          <a href="tel:1-435-529-4241">(435) 529-4241</a> 
        </address>

      </div>
    </div>
    <div class="row flex-items-xs-top hidden-sm-down">
      <div class="col-md-6 tx-sm-center schedule-container">
        <p class="lead text-uppercase text-sm-center m-0">open</p>
        <table>
          <tbody>
            <tr>
              <th scope="row">Monday -  Thursday:</th>
              <td class="text-xs-right">11:30 AM - 9:00 PM</td>
            </tr>
            <tr>
              <th scope="row">Friday - Saturday:</th>
              <td class="text-xs-right">11:30 AM - 10:00 PM</td>
            </tr>
            <tr>
              <th scope="row">Sunday:</th>
              <td class="text-xs-right">4:00 PM - 8:00 PM</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6 tx-sm-center schedule-container">
        <p class="lead text-uppercase text-sm-center m-0 second-schedule">open</p>
        <table>
          <tbody>
            <tr>
              <th scope="row">Monday -  Saturday:</th>
              <td class="text-xs-right">11:30 AM - 9:00 PM</td>
            </tr>
            <tr>
              <th scope="row">Friday - Saturday:</th>
              <td class="text-xs-right">11:30 AM - 10:00 PM</td>
            </tr>
            <tr>
              <th scope="row">Sunday:</th>
              <td class="text-xs-right">Closed</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>