<h2 class="text-xs-center mb-1">Menu</h2>

<nav class="nav text-xs-center" style="width: 80%; margin: auto;">
  <a class="nav-link" href="#buffet" style="padding: 0 1rem;">Buffet</a>
  <a class="nav-link" href="#pizza" style="padding: 0 1rem;">Pizza</a>
  <a class="nav-link" href="#stix" style="padding: 0 1rem;">Bread Stix</a>
  <a class="nav-link" href="#calzone" style="padding: 0 1rem;">Calzone</a>
  <a class="nav-link" href="#salad" style="padding: 0 1rem;">Salad</a>
  <a class="nav-link" href="#soda" style="padding: 0 1rem;">Drinks</a>
</nav>
