<section class="menu py-3 bg-light">
  <div class="container p-1 py-3">

    <lm-menu-header></lm-menu-header>

    <lm-menu-buffet></lm-menu-buffet>

    <div class="pizzas py-1">
      <lm-menu-pizza-sizes></lm-menu-pizza-sizes>

      <lm-menu-pizza-specialties></lm-menu-pizza-specialties>

      <lm-menu-pizza-toppings></lm-menu-pizza-toppings>

      <lm-menu-pizza-combo-detail></lm-menu-pizza-combo-detail>

    </div>

    <lm-menu-bread-stix></lm-menu-bread-stix>

    <lm-menu-calzone></lm-menu-calzone>

    <div class="salad py-1">
      <lm-menu-saladbar></lm-menu-saladbar>

      <lm-menu-salad-regular></lm-menu-salad-regular>
    </div>

    <lm-menu-drinks></lm-menu-drinks>

  </div>
</section>
