<section class="menu py-3 bg-light">
  <div class="container p-1 py-3">
    <h2 class="text-xs-center mb-1">Menu</h2>

    <hr>

    <div class="buffet py-1">
      <p class="lead text-xs-center">All You Can Eat Pizza &amp; Salad Bar</p>
      <h5 class="mb-1 text-xs-center">Monday through Friday. 11:30 AM - 2:00 PM</h5>

      <div class="menu-buffet">
        <lm-menu-row row-data="['With a Drink - $6.49','With Out a Drink - $5.49','Kids Buffet - $0.50 Per Year', 'free for josh']"></lm-menu-row>    
    </div>

    <hr>

    <div class="saladbar py-1">
      <p class="lead text-xs-center">Salad Bar</p>
      <h5 class="mb-1 text-xs-center">Anytime</h5>

      <div class="menu-buffet">
        <div class="row">
          <div class="col-md">
            <p>All You Can Eat with Bread Stix - $6.49</p>
          </div>
          <div class="col-md">
            <p>One Time Through with 2 Bread Stix- $4.99</p>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="toppings py-1">
      <p class="lead text-xs-center"><em>Toppings</em></p>

      <ul class="menu-list">
        <li class="menu-item">Pepperoni</li>
        <li class="menu-item">Canadian Bacon</li>
        <li class="menu-item">Sausage</li>
        <li class="menu-item">Hamburger</li>
        <li class="menu-item">Bacon</li>
        <li class="menu-item">Chicken</li>
        <li class="menu-item">Green Bell Pepper</li>
        <li class="menu-item">Yellow Onion</li>
        <li class="menu-item">Black Olives</li>
        <li class="menu-item">Mushrooms</li>
        <li class="menu-item">Pineapple</li>
        <li class="menu-item">Tomatoes</li>
      </ul>
    </div>

    <hr>

    <div class="pizzas py-1">
      <p class="lead text-xs-center"><em>Pizzas</em></p>

      <table class="table menu-pizzas hidden-xs-down">
        <thead>
          <tr>
            <th></th>
            <th>Cheese</th>
            <th>1 Item</th>
            <th>2 Item</th>
            <th>3 Item</th>
            <th>Combo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">8" Personal</th>
            <td>$3.89</td>
            <td>$4.29</td>
            <td>$4.69</td>
            <td>$5.09</td>
            <td>$5.49</td>
          </tr>
          <tr>
            <th scope="row">12" Medium</th>
            <td>$8.69</td>
            <td>$9.29</td>
            <td>$9.89</td>
            <td>$10.49</td>
            <td>$11.09</td>
          </tr>
          <tr>
            <th scope="row">14" Large</th>
            <td>$10.99</td>
            <td>$11.89</td>
            <td>$12.79</td>
            <td>$13.69</td>
            <td>$14.59</td>
          </tr>
          <tr>
            <th scope="row">16" X-Large</th>
            <td>$13.39</td>
            <td>$14.49</td>
            <td>$15.59</td>
            <td>$16.69</td>
            <td>$17.79</td>
          </tr>
        </tbody>
      </table>

      <table class="table menu-pizzas hidden-sm-up">
        <thead>
          <tr>
            <th class="text-xs-center">Size</th>
            <th class="text-xs-center">Range</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-xs-center">8"</th>
            <td class="text-xs-center">$3.89 - $5.99</td>
          </tr>
          <tr>
            <th scope="row" class="text-xs-center">12"</th>
            <td class="text-xs-center">$8.69 - $11.99</td>
          </tr>
          <tr>
            <th scope="row" class="text-xs-center">14"</th>
            <td class="text-xs-center">$10.99 - $14.99</td>
          </tr>
          <tr>
            <th scope="row" class="text-xs-center">16"</th>
            <td class="text-xs-center">$13.39 - $17.99</td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr>

    <div class="combo-pizza py-1">
      <p class="lead text-xs-center"><em>Combos Include</em></p>

      <ul class="menu-list">
        <li class="menu-item">Pepperoni</li>
        <li class="menu-item">Canadian Bacon</li>
        <li class="menu-item">Sausage</li>
        <li class="menu-item">Hamburger</li>
        <li class="menu-item">Green Bell Pepper</li>
        <li class="menu-item">Yellow Onion</li>
        <li class="menu-item">Black Olives</li>
        <li class="menu-item">Mushrooms</li>
        <li class="menu-item">Pineapple</li>
      </ul>
    </div>

    <hr>

    <div class="specialty-pizzas py-1">
      <p class="lead text-xs-center"><em>Specialty Pizzas</em></p>

      <ul class="menu-list py-1">
        <li class="menu-item">Chicken Bacon Ranch</li>
        <li class="menu-item">BBQ Chicken Bacon</li>
        <li class="menu-item">Buffalo Chicken</li>
      </ul>

      <table class="table menu-specialty-pizzas hidden-xs-down">
        <thead>
          <tr>
            <th></th>
            <th>Small</th>
            <th>Medium</th>
            <th>Large</th>
            <th>X-Large</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Specialty Pizza</th>
            <td>$5.99</td>
            <td>$11.99</td>
            <td>$14.99</td>
            <td>$17.99</td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr>

    <div class="bread-sticks py-1">
      <p class="lead text-xs-center"><em>Bread Sticks</em></p>

      <p class="text-xs-center">Dipping Sauces - $0.35 each</p>

      <ul class="menu-list">
        <li class="menu-item">Ranch</li>
        <li class="menu-item">Marinara</li>
        <li class="menu-item">Frosting</li>
      </ul>

      <table class="table menu-bread-sticks">
        <tbody>
          <tr>
            <th scope="row" class="no-bt text-sm-right">Bread Stix</th>
            <td class="no-bt text-sm-left">$2.99</td>
            <th class="no-bt text-sm-right hidden-xs-down">Cinnamon Stix</th>
            <td class="no-bt hidden-xs-down">$2.99</td>
          </tr>
          <tr class="hidden-sm-up">
            <th scope="row" class="text-sm-left">Cinnamon Stix</th>
            <td class=" text-sm-left">$2.99</td>
          </tr>
          <tr>
            <th scope="row" class="text-sm-right">Cheese Stix</th>
            <td class=" text-sm-left">$4.69</td>
            <th class="text-sm-right hidden-xs-down">Pepperoni Stix</th>
            <td class=" hidden-xs-down">$5.19</td>
          </tr>
          <tr class="hidden-sm-up">
            <th scope="row" class="text-sm-left">Pepperoni Stix</th>
            <td class="text-sm-left">$5.19</td>
          </tr>
        </tbody>
      </table>

    </div>

    <hr>

    <div class="calzones py-1">
      <p class="lead text-xs-center"><em>Calzones</em></p>

      <table class="table menu-calzones">
        <tbody>
          <tr>
            <th scope="row" class="no-bt text-sm-right">Whole</th>
            <td class="no-bt text-sm-left">$7.99</td>
            <th class="no-bt text-sm-right hidden-xs-down">Half</th>
            <td class="no-bt hidden-xs-down">$5.99</td>
          </tr>
          <tr class="hidden-sm-up">
            <th scope="row" class="text-sm-left">Half</th>
            <td class=" text-sm-left">$5.99</td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr>

    <div class="salads py-1">
      <p class="lead text-xs-center"><em>Salads</em></p>
      <h5 class="text-xs-center mb-1">Basic or Custom</h5>

      <table class="table menu-salads hidden-xs-down">
        <thead>
          <tr>
            <th></th>
            <th>Basic</th>
            <th>Custom</th>
            <th></th>
            <th>Basic</th>
            <th>Custom</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-xs-right">Small</th>
            <td>$3.99</td>
            <td>$4.99</td>
            <th class="text-xs-right">Large</th>
            <td>$4.99</td>
            <td>$6.49</td>
          </tr>
        </tbody>
      </table>

      <table class="table menu-salads hidden-sm-up">
        <thead>
          <tr>
            <th class="text-xs-center">Size</th>
            <th class="text-xs-center">Range</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-xs-center">Small</th>
            <td class="text-xs-center">$3.99 - $4.99</td>
          </tr>
          <tr>
            <th scope="row" class="text-xs-center">Large</th>
            <td class="text-xs-center">$4.99 - $6.49</td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr>

    <div class="drinks py-1">
      <p class="lead text-xs-center"><em>Drinks</em></p>
      <h5 class="text-xs-center mb-1">Coke Products</h5>

      <div class="row flex-items-xs-middle">
        <div class="col-md">
          <table class="table menu-drinks">
            <tbody>
              <tr>
                <th scope="row" class="text-md-center no-bt">Medium</th>
                <td class="text-xs-center no-bt">$1.49</td>
              </tr>
              <tr>
                <th scope="row" class="text-md-center">Large</th>
                <td class="text-xs-center">$1.79</td>
              </tr>
              <tr>
                <th scope="row" class="text-md-center">2 Liter</th>
                <td class="text-xs-center">$2.49</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="col-md">
          <br class="hidden-sm-up">
          <p class="text-xs-center">2 Litters</p>

          <ul class="menu-list">
            <li class="menu-item">Coke</li>
            <li class="menu-item">Diet Coke</li>
            <li class="menu-item">Sprite</li>
            <li class="menu-item">Cherry Coke</li>
            <li class="menu-item">Root Beer</li>
            <li class="menu-item">Orange Fanta</li>
            <li class="menu-item">Squirt</li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</section>
