<section class="menu py-3 bg-light">
  <div class="container p-1 py-3">

    <h2 class="text-xs-center mb-1">Menu</h2>

    <div class="text-xs-center">
      <button class="btn btn-link"><a ng-href="/menu">View Full Menu</a></button>
    </div>

    <lm-menu-buffet></lm-menu-buffet>

    <lm-menu-pizza-specialties></lm-menu-pizza-specialties>

    <lm-menu-saladbar></lm-menu-saladbar>

    <div class="text-xs-center">
      <button class="btn btn-link"><a ng-href="/menu">View Full Menu</a></button>
    </div>

  </div>
</section>
